/*
 * Flex Item.
 */

[class|="flex"],
[class*="flex-"] {
  @include column-flex-base;
  flex: 1 0 100%;
}

.flex {
  @include column-flex-base;

  &-xs {
    @include mobile-only {
      box-sizing: border-box;
      flex: 1 0 0;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
    }
  }

  &-sm {
    @include tablet-portrait-up {
      box-sizing: border-box;
      flex: 1 0 0;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
    }
  }

  &-md {
    @include tablet-landscape-up {
      box-sizing: border-box;
      flex: 1 0 0;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
    }
  }

  &-lg {
    @include desktop-up {
      box-sizing: border-box;
      flex: 1 0 0;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
    }
  }

  &-xl {
    @include big-desktop-up {
      box-sizing: border-box;
      flex: 1 0 0;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
    }
  }
}

.flex {
  @include dynamic-flex-columns(null, $grid-columns-big-desktop);

  &--auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;

    @supports (display: grid) {
      grid-column: auto;
    }
  }

  @include mobile-only {
    @include dynamic-flex-columns('xs', $grid-columns-mobile);
  }

  @include tablet-portrait-up {
    @include dynamic-flex-columns('sm', $grid-columns-portrait-tablet);
  }

  @include tablet-landscape-up {
    @include dynamic-flex-columns('md', $grid-columns-landscape-tablet);
  }

  @include desktop-up {
    @include dynamic-flex-columns('lg', $grid-columns-desktop);
  }

  @include big-desktop-up {
    @include dynamic-flex-columns('xl', $grid-columns-big-desktop);
  }
}
