.primary-header {
  grid-area: header;
}

.primary-sidebar {
  grid-area: sidebar;
}

.primary-navigation {
  grid-area: navigation;
}

.primary-main {
  grid-area: main;
}

.primary-footer {
  grid-area: footer;
}
