[class|="col"] {
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;

  span {
    padding: 1rem .5rem;
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

[class|="col-xs"] {
  span {
    background-color: orangered;
    color: white;
  }
}

[class|="col-sm"] {
  span {
    background-color: violet;
    color: white;
  }
}

[class|="col-md"] {
  span {
    background-color: blue;
    color: white;
  }
}

[class|="col-lg"] {
  span {
    background-color: green;
    color: white;
  }
}

[class|="col-xl"] {
  span {
    background-color: lightcoral;
    color: white;
  }
}