// Grid
$grid-columns-mobile: 4;
$grid-columns-portrait-tablet: 8;
$grid-columns-landscape-tablet: 10;
$grid-columns-desktop: 12;
$grid-columns-big-desktop: 16;

$grid-space-mobile: .8rem;
$grid-space-portrait-tablet: .8rem;
$grid-space-landscape-tablet: 1.2rem;
$grid-space-desktop: 1.2rem;
$grid-space-big-desktop: 1.2rem;

// Fonts
//$font-default: "Helvetica", Helvetica Neue, Arial, sans-serif;
//$font-lato: 'Lato', sans-serif;
$font-default: 'Lato', sans-serif;
$font-monospace: monospace, monospace;

$font-heading-1: 4.8rem;
$font-heading-2: 3.4rem;
$font-heading-3: 2.4rem;
$font-heading-4: 1.6rem;
$font-heading-5: 1.4rem;
$font-heading-6: 1.2rem;
$font-body: 1.6rem;

$font-weight-base: normal;

$line-height-base: 1.6;

$headings-margin-bottom: 2rem;
$paragraph-margin-bottom: 2rem;
$list-margin-bottom: 2rem;

$table-cell-padding: 1rem;

$label-margin-bottom: 1rem;

// Colors
$color-white: white;
$color-black: black;
$color-light-gray-1: #F5F5F5;
$color-mid-gray-1: #BDBDBD;
$color-dark-gray-1: #424242;
$color-dark-gray-2: #212121;

$color-primary: #ff5c5c;
$color-secondary: #3F51B5;
$color-success: #4CAF50;
$color-warning: #FFEB3B;
$color-warning-dark: #ffb300;
$color-danger: #FF3D00;
$color-info: #B3E5FC;
$color-default: #CFD8DC;

$link-color: #2196F3;
$link-hover-color: darken($link-color, 50%);
$link-decoration: none;
$link-hover-decoration: underline;

$table-caption-color: $color-dark-gray-1;

// Borders
$border-width: 2px;
$border-style: solid;

$radius-circle: 50%;
$radius-rounded: 5px;

$transition-slow: .8s ease;
$transition-normal: .4s ease;
$transition-fast: .2s ease;

$transition-all: .4s all;

$spacing-small: 3rem;
$spacing-base: 5rem;
$spacing-large: 8rem;

// Media Query Values
$mobile-only: (max-width: 599px);

$tablet-portrait-up: (min-width: 600px);
$tablet-landscape-up: (min-width: 900px);
$desktop-up: (min-width: 1200px);
$big-desktop-up: (min-width: 1800px);

$tablet-portrait-down: (max-width: 600px);
$tablet-landscape-down: (max-width: 900px);
$desktop-down: (max-width: 1200px);
$big-desktop-down: (max-width: 1800px);

$center: translate(-50%, -50%);
$centerY: translateY(-50%);
$centerX: translateX(-50%);
