.display {
  &-flex {
    display: flex !important;
  }

  &-inline-flex {
    display: inline-flex !important;
  }

  @include mobile-only {
    &-xs {
      &-flex {
        display: flex !important;
      }

      &-inline-flex {
        display: inline-flex !important;
      }
    }
  }
  @include tablet-portrait-up {
    &-sm {
      &-flex {
        display: flex !important;
      }

      &-inline-flex {
        display: inline-flex !important;
      }
    }
  }
  @include tablet-landscape-up {
    &-md {
      &-flex {
        display: flex !important;
      }

      &-inline-flex {
        display: inline-flex !important;
      }
    }
  }
  @include desktop-up {
    &-lg {
      &-flex {
        display: flex !important;
      }

      &-inline-flex {
        display: inline-flex !important;
      }
    }
  }
  @include big-desktop-up {
    &-xl {
      &-flex {
        display: flex !important;
      }

      &-inline-flex {
        display: inline-flex !important;
      }
    }
  }
}