// Mixins
@mixin dynamic-order($size, $position: null, $columns: null) {
  @if ($size == null) {
    @if ($position == 'first') {
      &-#{$position} {
        order: -1;
      }
    } @else if ($position == 'last') {
      &-#{$position} {
        order: $columns + 1;
      }
    } @else {
      @for $i from 0 through $columns {
        &-#{$i} {
          order: #{$i};
        }
      }
    }
  } @else {

    @if ($position == 'first') {
      &-#{$size}-#{$position} {
        order: -1;
      }
    } @else if ($position == 'last') {
      &-#{$size}-#{$position} {
        order: $columns + 1;
      }
    } @else {
      @for $i from 0 through $columns {
        &-#{$size}-#{$i} {
          order: #{$i};
        }
      }
    }

  }
}