.primary-header {
  background-color: $color-light-gray-1;
  display: flex;
  height: 100px;
  align-items: center;
  position: relative;

  &__brand {
    width: auto;
    height: auto;
    overflow: hidden;
    min-height: 50px;
    background-color: $color-primary;
  }

  &__menu-toggle {
    overflow: hidden;
    display: none;
    margin-left: auto;

    @include tablet-landscape-down {
      display: block;
    }
  }
  
  &__nav {
    overflow: hidden;
    display: block;
    margin-left: auto;

    @include tablet-landscape-down {
      display: none;
    }
  }
}