.primary-header {
  background-color: $color-primary;
  height: auto;
  align-items: center;
  position: relative;
  padding: 5px 0;

  &__brand {
    overflow: hidden;
  }

  &__menu-toggle {
    overflow: hidden;
    display: none;

    @include tablet-landscape-down {
      display: block;
    }
  }

  &__nav {
    overflow: hidden;
    display: block;

    @include tablet-landscape-down {
      display: none;
    }
  }
}
